<app-toolbar> </app-toolbar>
<app-sidebar></app-sidebar>

<app-page-wrapper>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa id incidunt neque recusandae atque at odio quaerat et, nisi sint quis dignissimos minima a facere autem, labore fuga qui voluptatum modi enim asperiores ab inventore? Saepe fuga libero ut ipsa illum praesentium asperiores, odit mollitia dicta at distinctio sit accusamus quas atque ratione natus esse adipisci magnam. Non cupiditate exercitationem nobis tempora molestias laborum dolor numquam. Placeat ullam aut, possimus cum qui voluptatem? Eligendi cum quo, aperiam aspernatur tempore quidem architecto debitis suscipit, officiis in sequi ullam dolores accusantium illum eius ipsa nisi repudiandae, labore fuga sit consequuntur nesciunt dolorem.</p>
</app-page-wrapper>
<app-footer></app-footer>