aside {
    padding: 10px;
    background-color: rgb(191, 166, 134);
    height: 100vh;
    width: 250px;
}

p{
    padding: 10px;
    margin-top: 200px;
    font-size: 2em;
    text-align: center;
    color: rgb(116, 95, 51);
}
